* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
}

main .hero {
    width: 100%;
    height: 400px;
    display: flex;
    font-size: 3rem;
    color: white;
    padding: 100px 0 0 0;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-image: url("../img/istockphoto-490786066-1024x1024.jpg");
}

main .hero span {
    width: 100%;
    height:100px;
    padding: 20px;
    text-align: center;
    background-color: #222;
}

main div a {
    padding: 10PX ;
    font-size: 30px;
    margin-left: 50%;
    border-radius: 40px;
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
}

main div a:hover {
    color: rgb(0, 0, 0);
    transition: 0.45s;
    background-color: rgb(238, 173, 9);
    border: 3px solid rgb(238, 173, 9);
}

main .product-text {
    padding: 50px;
    line-height: 2;
    font-size: 2rem;
    text-align: center;
}

main .content {
    width: 100%;
    height: auto;
    background-color: rgb(238, 173, 9);
}

main .content .catalog {
    display: flex;
}

.catalog{
    gap: 3px;
    padding: 5px;
    display: flex;
}

.catalog .product-column {
    width: 100%;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}

.catalog .product-column div {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.catalog .product-column div img {
    inset: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.catalog .product-column div button {
    width: 40%;
    height: 20%;
    margin: 10px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    transition: 0.7s;
    color: rgb(255, 215, 0);
    background-color: rgb(0, 0, 0);
}

.catalog .product-column div button:hover {
    background-color: white;
    border: none;
    color: black;
}

.fa-solid {
    display: inline;
    color: black;
}
