@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pri: #fff;
    --sec: rgb(215, 213, 213);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
}

#search {
    width: 300px;
}

#srch {
    height: 30px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    border-right: none;
    margin: 0;
} 


#search .srch:focus {
    outline: none;
}

#search a {
    text-decoration: none;
    margin-left: 1px;
    border: none;
}

#search a i {
    color: #000;
    font-size: 1.3em;
}


header {
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(235, 234, 234, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: sticky;
    z-index: 1;
}

header .bars {
    display: none;
}

/* header nav {
    position: absolute;
    top: 5%;
    right: 5%;
} */

header nav .close {
    display: none;
}

header img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 45px;
}

header nav ul li a:hover {
    font-size: 1.1em;
}

header nav ul li a.active {
    color: var(--sec);
    font-size: 1.1em;
}

header nav ul li a i {
    margin-right: 7px;
}

header nav ul li a:hover i {
    font-size: x-large;
}

/* header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
    background-color: white;
}

header a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
} */


/* Hero styling */
.hero {
    width: 100%;
    height: 50dvh;
    display: flex;
    position: relative;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("../Images/fabric.jpg");
}

.hero::before {
    inset: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero h1 {
    z-index: 1;
    font-size: clamp(4.3em, 7vw, 5em);
    /* font-size: 4.3em; */
}

.hero p {
    z-index: 1;
    font-size: 1.8em;
    word-spacing: 2px;
    text-align: center;
    font-weight: bolder;
}

.hero button {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 40px;
    width: 130px;
    box-shadow: #e6e6e6d5 0px 5px 10px;
    padding: 1.5px 0 0 22px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 5px;
    background-color: rgb(215, 213, 213);
}

.hero button:hover {
    color: black;
    font-size: 1.05em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}

.hero button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.map {
    gap: 4rem;
    height: 500px;
    display: flex;
    margin: 50px 25px;
    align-items: center;
}

.map .iframe {
    width: 50%;
    height: 100%;
}

.map .address {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    line-height: 1.5;
}

.address .icons {
    margin-top: 30px;
    gap: 15px;
    display: flex;
}

.address .location .contact h3 {
    font-weight: 300;
}

.address .icons .fa-brands {
    color: black;
}


.location button {
    z-index: 1;
    display: flex;
    padding: 15px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(211, 209, 209);
    color: white;
    gap: 5px;
}

.location button a {
    text-decoration: none;
    color: white;
}

.location button a:hover {
    color: black;
    font-size: 1.05em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.key-officers {
    display: flex;
    width: 85%;
    /* justify-content: center; */
    background-color: #fff;
    line-height: 2;
    padding: 20px 10px 0 40px;
    color: black;
    margin-top: -100px;
    margin-bottom: 10px;
}

.key-officers .cts {
    width: 100%;
    font-size: 14px;
    margin-top: 70px;
}


.key-officers span {
    font-size: 22px;
    padding-bottom: 15px;
}


.key-officers .cts p {
    font-size: 12px;
    font-style: italic;
}

footer {
    width: 100%;
    height: 400px;
    background-color: #000;
    justify-content: space-around;
    color: #fff;
}

footer ul,
footer ul li,
footer ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

footer .fa-solid {
    color: #fff;
    margin-right: 7px;
}

footer .fa-solid:hover {
    color: var(--pri);
}

footer .top {
    width: 100%;
    height: 110px;
    background-color: var(--sec);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    color: #000;
}

footer .top ul {
    list-style-type: none;
    margin-left: 40px;
}

footer .top ul li {
    margin-right: 12px;
    display: inline-flex;
}


footer .body {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

footer .body hr {
    width: 80px;
    margin-bottom: 20px;
}

footer .body>div img {
    width: 112px;
    height: 140px;
    border-radius: 50%;
    margin: 55px 0 0 5px;
}

footer .body h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.3rem;
    letter-spacing: 5px;
}

footer .body .one img {
    width: 120px;
    height: 120px;
}


footer .body .one a {
    text-decoration: none;
    color: #fff;
}

footer .body .two ul .black a {
    color: #000;
}

footer .body .four {
    margin-top: 55px;
}

footer .body .four ul ul {
    display: flex;
    list-style-type: none;
}

footer .body .four ul ul li {
    margin: 20px 20px 0 0;
}

footer .four ul ul li a:hover {
    font-size: 1.1em;
}


footer .bottom {
    width: 100%;
    height: 100px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

footer .bottom h4 {
    margin-top: 10px;
}

footer .bottom a {
    text-decoration: none;
    color: #fff;
}
















@media only screen and (max-width: 400px) and (min-width: 360px) {

    body {
        background-color: white;
    }

    .container {
        width: 100%;
        height: 60vh;
        background-color: #fff;
    }

    header {
        width: 100%;
        height: 2.5vh;
        padding: 0.12rem 0 0.125rem 0.125rem;
        font-size: 0.625rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-left: 10px;
        text-decoration: none;
        background-color: white;
    }

    header a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }

    .hero {
    width: 100%;
    height: 20dvh;
    display: flex;
    position: relative;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("../Images/fabric.jpg");
    }

   .hero::before {
    inset: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

   .hero h1 {
    z-index: 1;
    font-size: clamp(1.5em, 7vw, 2em);
    /* font-size: 4.3em; */
    margin-bottom: 7px;
}

    .hero p {
    z-index: 1;
    font-size: 0.8em;
    word-spacing: 2px;
    text-align: center;
    font-weight: bolder;
}


.hero button {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 20px;
    width: 100px;
    box-shadow: #e6e6e6d5 0px 5px 10px;
    padding: 1px 0 0 15px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 3px;
    /* letter-spacing: 2px; */
    background-color: rgb(215, 213, 213);
    font-size: 11px;
}


.hero button:hover {
    color: black;
    font-size: 0.7em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.hero button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.map {
    gap: 4rem;
    width: 100%;
    height: 250px;
    display: block;
    margin: 20px 10px 300px 10px;
    align-items: center;
}


.map .iframe {
    display: flex;
    width: 98%;
    height: 100%;
    margin-bottom: 40px;
}

.map .iframe iframe{
    width: 100%;
    height: 100%;
    margin-right: 15px;
    
}

.map .address {
    height: 100%;
    display: block;
    flex-direction: column;
    margin-top: -20px;
    line-height: 1.5;
    /* margin-bottom: 100px; */
}


.address .icons {
    margin-top: 30px;
    gap: 15px;
    display: flex;
}

.address .location .contact .adr {
    font-weight: 300;
    font-size: 16px;
}

.address .icons .fa-brands {
    color: black;
}


.location button {
    z-index: 1;
    display: flex;
    padding: 5px;
    cursor: pointer;
    margin-top: 7px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(211, 209, 209);
    color: white;
    gap: 2px;
}

.location button a {
    text-decoration: none;
    color: white;
}

.location button a:hover {
    color: black;
    font-size: 0.7em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.key-officers {
    display: block;
    width: 85%;
    /* justify-content: center; */
    background-color: #fff;
    line-height: 1;
    padding: 10px 5px 0 10px;
    color: black;
    margin-top: -20px;
    margin-bottom: 10px;
}

.key-officers .cts {
    width: 100%;
    font-size: 5px;
    margin-top: 20px;
}


.key-officers span {
    font-size: 11px;
    padding-bottom: 6px;
}


.key-officers .cts p {
    font-size: 6px;
    font-style: italic;
}

}



@media only screen and (max-width: 600px) and (min-width: 400px) {

   body {
        background-color: white;
    }

    .container {
        width: 100%;
        height: 60vh;
        background-color: #fff;
    }

    header {
        width: 100%;
        height: 2.5vh;
        padding: 0.12rem 0 0.125rem 0.125rem;
        font-size: 0.625rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-left: 10px;
        text-decoration: none;
        background-color: white;
    }

    header a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }

    .hero {
    width: 100%;
    height: 20dvh;
    display: flex;
    position: relative;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("../Images/fabric.jpg");
    }

   .hero::before {
    inset: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

   .hero h1 {
    z-index: 1;
    font-size: clamp(1.5em, 7vw, 2em);
    /* font-size: 4.3em; */
    margin-bottom: 7px;
}

    .hero p {
    z-index: 1;
    font-size: 0.8em;
    word-spacing: 2px;
    text-align: center;
    font-weight: bolder;
}


.hero button {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 20px;
    width: 100px;
    box-shadow: #e6e6e6d5 0px 5px 10px;
    padding: 1px 0 0 15px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 3px;
    /* letter-spacing: 2px; */
    background-color: rgb(215, 213, 213);
    font-size: 11px;
}


.hero button:hover {
    color: black;
    font-size: 0.7em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.hero button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.map {
    gap: 4rem;
    width: 100%;
    height: 250px;
    display: block;
    margin: 20px 10px 300px 10px;
    align-items: center;
}


.map .iframe {
    display: flex;
    width: 98%;
    height: 100%;
    margin-bottom: 40px;
}

.map .iframe iframe{
    width: 100%;
    height: 100%;
    margin-right: 15px;
    
}

.map .address {
    height: 100%;
    display: block;
    flex-direction: column;
    margin-top: -20px;
    line-height: 1.5;
    /* margin-bottom: 100px; */
}


.address .icons {
    margin-top: 30px;
    gap: 15px;
    display: flex;
}

.address .location .contact .adr {
    font-weight: 300;
    font-size: 16px;
}

.address .icons .fa-brands {
    color: black;
}


.location button {
    z-index: 1;
    display: flex;
    padding: 5px;
    cursor: pointer;
    margin-top: 7px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(211, 209, 209);
    color: white;
    gap: 2px;
}

.location button a {
    text-decoration: none;
    color: white;
}

.location button a:hover {
    color: black;
    font-size: 0.7em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.key-officers {
    display: block;
    width: 85%;
    /* justify-content: center; */
    background-color: #fff;
    line-height: 1;
    padding: 10px 5px 0 10px;
    color: black;
    margin-top: -20px;
    margin-bottom: 10px;
}

.key-officers .cts {
    width: 100%;
    font-size: 5px;
    margin-top: 20px;
}


.key-officers span {
    font-size: 11px;
    padding-bottom: 6px;
}


.key-officers .cts p {
    font-size: 6px;
    font-style: italic;
}

}





@media only screen and (max-width: 800px) and (min-width: 600px) {

    body {
        background-color: white;
    }

    .container {
        width: 100%;
        height: 60vh;
        background-color: #fff;
    }

    header {
        width: 100%;
        height: 2.5vh;
        padding: 0.12rem 0 0.125rem 0.125rem;
        font-size: 0.625rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-left: 10px;
        text-decoration: none;
        background-color: white;
    }

    header a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }

    .hero {
    width: 100%;
    height: 20dvh;
    display: flex;
    position: relative;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("../Images/fabric.jpg");
    }

   .hero::before {
    inset: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

   .hero h1 {
    z-index: 1;
    font-size: clamp(1.5em, 7vw, 2em);
    /* font-size: 4.3em; */
    margin-bottom: 7px;
}

    .hero p {
    z-index: 1;
    font-size: 0.8em;
    word-spacing: 2px;
    text-align: center;
    font-weight: bolder;
}


.hero button {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 20px;
    width: 100px;
    box-shadow: #e6e6e6d5 0px 5px 10px;
    padding: 1px 0 0 15px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 3px;
    /* letter-spacing: 2px; */
    background-color: rgb(215, 213, 213);
    font-size: 11px;
}


.hero button:hover {
    color: black;
    font-size: 0.7em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.hero button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.map {
    gap: 4rem;
    width: 100%;
    height: 250px;
    display: block;
    margin: 20px 10px 300px 10px;
    align-items: center;
}


.map .iframe {
    display: flex;
    width: 98%;
    height: 100%;
    margin-bottom: 40px;
}

.map .iframe iframe{
    width: 100%;
    height: 100%;
    margin-right: 15px;
    
}

.map .address {
    height: 100%;
    display: block;
    flex-direction: column;
    margin-top: -20px;
    line-height: 1.5;
    /* margin-bottom: 100px; */
}


.address .icons {
    margin-top: 30px;
    gap: 15px;
    display: flex;
}

.address .location .contact .adr {
    font-weight: 300;
    font-size: 16px;
}

.address .icons .fa-brands {
    color: black;
}


.location button {
    z-index: 1;
    display: flex;
    padding: 5px;
    cursor: pointer;
    margin-top: 7px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(211, 209, 209);
    color: white;
    gap: 2px;
}

.location button a {
    text-decoration: none;
    color: white;
}

.location button a:hover {
    color: black;
    font-size: 0.7em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.key-officers {
    display: block;
    width: 85%;
    /* justify-content: center; */
    background-color: #fff;
    line-height: 1;
    padding: 10px 5px 0 10px;
    color: black;
    margin-top: -20px;
    margin-bottom: 10px;
}

.key-officers .cts {
    width: 100%;
    font-size: 5px;
    margin-top: 20px;
}


.key-officers span {
    font-size: 11px;
    padding-bottom: 6px;
}


.key-officers .cts p {
    font-size: 6px;
    font-style: italic;
}

}




@media only screen and (max-width: 1000px) and (min-width: 800px) {

   body {
        background-color: white;
    }

    .container {
        width: 100%;
        height: 60vh;
        background-color: #fff;
    }

    header {
        width: 100%;
        height: 2.5vh;
        padding: 0.12rem 0 0.125rem 0.125rem;
        font-size: 0.625rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-left: 10px;
        text-decoration: none;
        background-color: white;
    }

    header a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }

    .hero {
    width: 100%;
    height: 35vh;
    display: flex;
    position: relative;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("../Images/fabric.jpg");
    padding-top: 60px;
    margin-bottom: 20px;
    }

   .hero::before {
    inset: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

   .hero h1 {
    z-index: 1;
    font-size: clamp(2.5em, 7vw, 3em);
    /* font-size: 4.3em; */
    /* margin-bottom: 7px; */
    position: absolute;
    top: 30%;
}

    .hero p {
    z-index: 1;
    font-size: 0.8em;
    word-spacing: 2px;
    text-align: center;
    font-weight: bolder;
    padding-top: 90px;
    padding-bottom: 40px;
}


.hero button {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 20px;
    width: 100px;
    box-shadow: #e6e6e6d5 0px 5px 10px;
    padding: 1px 0 0 15px;
    cursor: pointer;
    margin-top: -20px;
    font-weight: bold;
    border-radius: 3px;
    /* letter-spacing: 2px; */
    background-color: rgb(215, 213, 213);
    font-size: 11px;
    
}


.hero button:hover {
    color: black;
    font-size: 0.7em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.hero button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.map {
    gap: 4rem;
    width: 100%;
    height: 450px;
    display: block;
    margin: 20px 1.5px 300px 10px;
    align-items: center;
}


.map .iframe {
    display: block;
    width: 97%;
    height: 100%;
    margin-bottom: 40px;
    margin-right: 2%;
}

.map .iframe iframe{
    width: 100%;
    height: 100%;
    margin-right: 55px;
    
}

.map .address {
    height: 100%;
    display: block;
    flex-direction: column;
    /* margin-top: -20px; */
    line-height: 1.5;
    margin-bottom: 100px;
}


.address .icons {
    margin-top: 30px;
    gap: 15px;
    display: flex;
}

.address .location .contact .adr {
    font-weight: 300;
    font-size: 16px;
}

.address .icons .fa-brands {
    color: black;
}


.location button {
    z-index: 1;
    display: flex;
    padding: 5px;
    cursor: pointer;
    margin-top: 7px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(211, 209, 209);
    color: white;
    gap: 2px;
}

.location button a {
    text-decoration: none;
    color: white;
}

.location button a:hover {
    color: black;
    font-size: 0.7em;
    transition: font-size 0.4s ease-in-out;
    background-color: rgb(215, 213, 213);
}


.key-officers {
    display: flex;
    width: 100%;
    background-color: #fff;
    line-height: 1;
    padding: 10px 5px 0 10px;
    color: black;
    margin-top: 10px;
    margin-bottom: -250px;
    line-height: 2;
}

.key-officers .cts {
    width: 100%;
    font-size: 11px;
    margin-top: 20px;
}


.key-officers span {
    font-size: 14px;
    padding-bottom: 6px;
}


.key-officers .cts p {
    font-size: 9px;
    font-style: italic;
}

}





