* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


.container {
    width: 100%;
    display: flex;
    min-height: 100vh;
}
header {
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: sticky;
    z-index: 1;
}

header .bars {
    display: none;
}

/* header nav {
    position: absolute;
    top: 5%;
    right: 5%;
} */

header nav .close {
    display: none;
}

header img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid #333333;
    border-radius: 50%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 45px;
}

header nav ul li a:hover {
    font-size: 1.1em;
}

header nav ul li a.active {
    color: var(--sec);
    font-size: 1.1em;
}

header nav ul li a i {
    margin-right: 7px;
}

header nav ul li a:hover i {
    font-size: x-large;
}

main {
    width: 100%;
    min-height: 100vh;
}

.search-container {
    margin: 5px auto;
    text-align: center;
}

input[type="text"] {
    width: 90%;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: goldenrod;
    border-radius: 10px;
    background-color: black;
}

.search-container button {
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: teal;
} 

.item {
    font-size: 20px;
    padding: 10px;
}

.section div {
    margin: 0;
}


main .product-text {
    padding: 50px;
    font-size: 2rem;
    text-align: center;
    
}

main .content {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

main .content .catalog {
    display: flex;
}

.catalog {
    gap: 3px;
    padding: 5px;
    display: flex;
}

.catalog .product-column {
    width: 100%;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}

.catalog .product-column div {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: goldenrod;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.catalog .product-column div img {
    inset: 0;
    width: 100%;
    height: 80%;
    border: none;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.catalog .product-column div button {
    width: 40%;
    height: 20%;
    margin: 10px;
    border: none;
    font-size: 30px;
    transition: 0.7s;
    border-radius: 10px;
    color: rgb(255, 215, 0);
    background-color: rgb(0, 0, 0);
}

.catalog .product-column div button:hover {
    border: none;
    color: black;
    background-color: white;
}

.fa-solid {
    font-size: 30px;
    color: black;
    display: inline;
}


footer {
    width: 100%;
    height: 400px;
    background-color: #000;
    justify-content: space-around;
    color: #fff;
}

footer ul,
footer ul li,
footer ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

footer .fa-solid {
    color: #fff;
    margin-right: 7px;
}

footer .fa-solid:hover {
    color: var(--pri);
}

footer .top {
    width: 100%;
    height: 110px;
    background-color: var(--sec);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    color: #000;
}

footer .top ul {
    list-style-type: none;
    margin-left: 40px;
}

footer .top ul li {
    margin-right: 12px;
    display: inline-flex;
}


footer .body {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

footer .body hr {
    width: 80px;
    margin-bottom: 20px;
}

footer .body>div img {
    width: 112px;
    height: 140px;
    border-radius: 50%;
    margin: 55px 0 0 5px;
}

footer .body>div p {
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0 0 18px;
}

footer .body h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.3rem;
    letter-spacing: 5px;
}

footer .body .one a {
    text-decoration: none;
    color: #fff;
}

footer .body .two ul .black a {
    color: #000;
}

footer .body .four {
    margin-top: 55px;
}

footer .body .four ul ul {
    display: flex;
    list-style-type: none;
}

footer .body .four ul ul li {
    margin: 20px 20px 0 0;
}

footer .four ul ul li a:hover {
    font-size: 1.1em;
}


footer .bottom {
    width: 100%;
    height: 100px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

footer .bottom h4 {
    margin-top: 10px;
}

footer .bottom a {
    text-decoration: none;
    color: #fff;
}