* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pri: #f7a205ee;
    --sec: #000;
}

.container {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 70px;
    background-color: var(--pri);
    font-family: "roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    position: fixed;
    z-index: 1;
}

header .logo img {
    width: 50px;
    height: 50px;
    margin-left: 35px;
}

header nav {
    margin-right: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 60px;
}

header nav ul li a:hover {
    color: #8a0707c7;
    font-size: 1.1em;
}

header nav ul li a.active {
    color: #015827f5;
    font-size: 1.1em;
}

header nav ul li a i {
    margin-right: 10px;
}

header nav ul li a:hover i {
    color: #015827f5;
    font-size: larger;
}

main {
    width: 100%;
    height: auto;
}

main .hero {
    width: 100%;
    background-color: #000;
}

main .hero-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.9;
    position: relative;
    margin-top: 4.5%;
    /* Adjust for fixed header */
}

main .hero-text {
    width: 100%;
    position: absolute;
    top: 21%;
    left: 22%;
    color: #fff;
    font-weight: 700;
    font-size: 2.9em;
    font-family: roboto;
}

main .hero-text p {
    margin-left: 8%;
}

main .hero-text button {
    width: 130px;
    height: 50px;
    margin: 30px 0 0 25%;
    border: 5px solid #fff;
    background-color: #171715da;
    border-radius: 5px;
    font-size: 0.4em;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

main .hero-text button:hover {
    background-color: #c0b9b9f7;
    font-size: 22px;
    border-color: #000;
}

main .hero-text a {
    text-decoration: none;
    color: #fff;
}

main .hero-text button:hover a {
    color: #000;
}

footer {
    width: 100%;
    height: 400px;
    background-color: #000;
    justify-content: space-around;
    color: #fff;
    font-family: poppins;
}

footer ul,
footer ul a,
footer ul li {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

footer .fa-solid {
    color: #fff;
    margin-right: 10px;
}

footer .fa-solid:hover {
    color: #f7a205ee;
}

footer .top {
    width: 100%;
    height: 110px;
    background-color: #f7a205ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: #000;
}

footer .top ul {
    list-style-type: none;
}

footer .top ul li {
    margin: 0 20px;
    display: inline-flex;
}

footer .top ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

footer .top ul li a:hover {
    color: #015827f5;
}

footer .body {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

footer .body hr {
    width: 80px;
    margin-bottom: 20px;
}

footer .body .one>div {
    display: flex;
}

footer .body>div img {
    width: 50px;
    height: 50px;
}

footer .body>div p {
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0 0 18px;
}

footer .body h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .bottom {
    width: 100%;
    height: 100px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

footer .bottom h4 {
    margin-top: 10px;
}

footer .bottom a {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header nav ul li a {
        margin: 0 15px;
    }

    main .hero-text {
        left: 5%;
        top: 20%;
        font-size: 2em;
    }

    main .hero-text p {
        margin-left: 13%;
    }

    main .hero-text button {
        width: 110px;
        height: 48px;
        margin-left: 34%;
        font-size: large;
    }


    footer .top {
        width: 100%;
        height: 80px;
        padding-right: 50px;
    }

    footer .top h3 {
        width: 46%;
    }

    footer .top ul li {
        width: 54%;
        margin: 0;
        padding-right: 38px;
        display: inline;
    }

    footer .body {
        display: inline-flex;
        align-items: center;
       margin: 0 55px 0 10px;
    }

    /* footer .body>div {
        margin-bottom: 20px;
    } */

}