:root {
    --pri: #fff;
    --sec: rgb(215, 213, 213);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: var(--pri);
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

header {
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: sticky;
    z-index: 1;
}

header .bars {
    display: none;
}

/* header nav {
    position: absolute;
    top: 5%;
    right: 5%;
} */

header nav .close {
    display: none;
}

header img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid #333333;
    border-radius: 50%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 45px;
}

header nav ul li a:hover {
    font-size: 1.1em;
}

header nav ul li a.active {
    color: var(--sec);
    font-size: 1.1em;
}

header nav ul li a i {
    margin-right: 7px;
}

header nav ul li a:hover i {
    font-size: x-large;
}

main {
    width: 100%;
    height: auto;
}

main .hero {
    width: 100%;
    height: 70dvh;
    display: grid;
    position: relative;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

main .hero img {
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

main .hero-text {
    gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main .hero-text h2 {
    color: #fff;
    font-size: 3.3em;
    font-weight: 700;
}

main .hero-text p {
    color: #fff;
    font-size: 2em;
}

main .hero-text a {
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #171715da;
    text-decoration: none;
}

main .hero-text button:hover a {
    color: #000;
    background-color: #fff;
}

main .content {
    width: 100%;
    height: auto;
    color: var(--pri);
}

main .content .btn {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 46px;
    border: 2px solid black;
    padding: 1.5px 0 0 13px;
    border-radius: 5px;
}

main .content .btn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main .content .btn:hover {
    font-size: 1.07em;
    transition: font-size 0.4s ease-in-out;
    background-color: var(--sec);
    color: black;
}

main .content #btn-1 {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 0;
    border: none;
    padding: 1.5px 0 0 22px;
    border-radius: 5px;
    background-color: var(--sec);
    box-shadow: #e6e6e6d5 0px 5px 10px;
}

main .content h3 {
    padding: 50px;
    font-size: 2rem;
    text-align: center;
    color: #000;
    letter-spacing: 7px;
}

main .content .fa-solid {
    font-size: 30px;
    color: black;
}

main .content p {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.37rem;
    text-align: center;
    line-height: 2;
    color: #000;
}

.catalog .product-section {
    width: 100%;
    padding-left: 7%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 30px;
}

.catalog .product-section .products {
    width: 580px;
    height: 340px;
    border-radius: 10px;
    background-color: var(--sec);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.catalog .product-section div img {
    inset: 0;
    width: 100%;
    height: 80%;
    border: none;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.customer-reviews {
    width: 100%;
    height: auto;
}

.customer-reviews h2 {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-content: center;
    color: black;
    font-size: 2.1rem;
    margin-top: 30px;
    padding: 30px 0 90px 0;
    letter-spacing: 8px;
}

.customer-reviews .reviews {
    display: flex;
    width: 100%;
    height: 300px;
    color: black;
    justify-content: space-around;
    margin: 30px 0 10px 0;
}

.customer-reviews .reviews .wrapper {
    background-color: var(--sec);
    width: 90%;
    height: 300px;
    border-radius: 15px;
    margin: 0 20px;
    align-content: center;
    position: relative;
}

.customer-reviews .reviews .wrapper .img {
    width: 130px;
    height: 120px;
    border: 3px solid #000;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 15px;
    left: 13%;
}

.customer-reviews .reviews .wrapper h3 {
    text-align: flex-start;
    margin: 26px 0 0 13%;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 7px;
}

.customer-reviews .reviews .wrapper p {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    position: absolute;
    bottom: 10px;
    left: 11%;
}

footer {
    width: 100%;
    height: 400px;
    background-color: #000;
    justify-content: space-around;
    color: #fff;
}

footer ul,
footer ul li,
footer ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

footer .fa-solid {
    color: #fff;
    margin-right: 7px;
}

footer .fa-solid:hover {
    color: var(--pri);
}

footer .top {
    width: 100%;
    height: 110px;
    background-color: var(--sec);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    color: #000;
}

footer .top ul {
    list-style-type: none;
    margin-left: 40px;
}

footer .top ul li {
    margin-right: 12px;
    display: inline-flex;
}


footer .body {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

footer .body hr {
    width: 80px;
    margin-bottom: 20px;
}

footer .body>div img {
    width: 112px;
    height: 140px;
    border-radius: 50%;
    margin: 55px 0 0 5px;
}

footer .body>div p {
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0 0 18px;
}

footer .body h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.3rem;
    letter-spacing: 5px;
}

footer .body .one a {
    text-decoration: none;
    color: #fff;
}

footer .body .two ul .black a {
    color: #000;
}

footer .body .four {
    margin-top: 55px;
}

footer .body .four ul ul {
    display: flex;
    list-style-type: none;
}

footer .body .four ul ul li {
    margin: 20px 20px 0 0;
}

footer .four ul ul li a:hover {
    font-size: 1.1em;
}


footer .bottom {
    width: 100%;
    height: 100px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

footer .bottom h4 {
    margin-top: 10px;
}

footer .bottom a {
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 480px) {
    header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    header nav {
        /* display: none; */
    }

    header .bars {
        position: absolute;
        right: 10%;
        top: 5%;
        color: rgb(255, 255, 255);
    }

    header nav .close {
        display: block;
        float: right;
        margin: 10px 20px 0px 0px;
        color: rgb(255, 255, 255);
        display: block;
    }

    header nav ul li {
        display: block;
        margin: 50px 0px 50px 30px;
    }

    header nav ul li a {
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

    .catalog .product-section {
        width: 100%;
        padding: 0 5%;
        /* margin: 0 auto; */
        display: flex;
        flex-direction: column;
    }

    .catalog .product-section .products {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        background-color: var(--sec);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .customer-reviews h1 {
        display: flex;
        width: 100%;
        height: 70px;
        justify-content: center;
        text-align: center;
        color: black;
        font-size: 40px;
        padding: 0;
        letter-spacing: 5px;
        margin-top: 15px;
    }

    .customer-reviews .reviews {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        color: black;
    }

    .customer-reviews .reviews .wrapper {
        background-color: var(--sec);
        width: 90%;
        height: 300px;
        margin: 10px auto;
        border-radius: 15px;
        align-content: center;
    }

    footer {
        width: 100%;
        height: 820px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        margin: 45px 0;
    }

    footer .body {
        width: 100%;
        height: 760px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    footer .body div {
        margin-top: 25px;
        /* justify-content: flex-start; */
    }

    footer .body>div img {
        width: 70px;
        height: 70px;
    }

    footer .body>div p {
        font-size: 1.1em;
        font-weight: 500;
        margin: 10px 0 0 18px;
    }

    footer .body h3 {
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: 10px;
    }

    footer .body .two {
        height: 90px;
    }

    footer .bottom {
        width: 100%;
        /* height: 100px; */
        background-color: #000;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* padding-top: 10px; */
    }

    /* @media screen and (min-width: 481px) and (max-width: 768px) {
    header nav ul li a {
        margin: 0 15px;
    }

    main .hero-text {
        left: 5%;
        top: 20%;
        font-size: 2em;
    }

    main .hero-text p {
        margin-left: 13%;
    }

    main .hero-text button {
        width: 110px;
        height: 48px;
        margin-left: 34%;
        font-size: large;
    }


    footer .top {
        width: 100%;
        height: 80px;
        padding-right: 50px;
    }

    footer .top h3 {
        width: 46%;
    }

    footer .top ul li {
        width: 54%;
        margin: 0;
        padding-right: 38px;
        display: inline;
    }

    footer .body {
        display: inline-flex;
        align-items: center;
        margin: 0 55px 0 10px;
    }

    /* footer .body>div {
        margin-bottom: 20px;
    } */

}

*/